<?xml version="1.0"?>
<configuration>
  <!--<connectionStrings>
    <add name="ABC" connectionString="data Source=DESKTOP-O7P3N5H\SQLEXPRESS ; initial catalog = tdis; integrated security=true" providerName="system.data.SqlClient" />

  </connectionStrings>-->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>